html {
    background: url(./img/body-bg.png);
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    zoom: 1;
}

.hidden {
    display: none;
}

a {
    color: #205171;

}

a:hover {
    color: #c04700;
    text-decoration: underline;
}

#header {
    background: url(./img/bg.png);
    height: 85px;
}

#header .content {
    width: 990px;
    margin: 0 auto;
}

#header .content img {
    margin: 21px 0 0 21px;
}

.crumbs {
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 953px;
    margin: 9px auto 12px auto;
    color: #333;
}

.crumbs a {
    text-decoration: none;
    background: url(./img/sprites.png) right 4px no-repeat;
    display: inline-block;
    padding-right: 10px;
    margin-right: 3px;
}

.unit {
    margin: 0 auto;
}

.w990 {
    width: 990px;
}

.unit .t-bg,
.unit .t-bg s {
    background: url(./img/t-bg.png);
    height: 7px;
    overflow: hidden;
    position: relative;
}

.unit .t-bg s {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    background-position: right 0;
}

.unit .content-bg {
    background: #eee url(./img/990-l.png) 0 0 repeat-y;
    margin: 0 1px 0 0;
}

.unit .content-bg .content {
    background: url(./img/990-r.png) right 0 repeat-y;
    padding: 1px 0;
}

.unit .b-bg,
.unit .b-bg s {
    background: url(./img/b-bg.png);
    height: 7px;
    overflow: hidden;
    padding-left: 7px;
}

.unit .b-bg s {
    display: block;
    background-position: right 0;
}

.unit .container {
    margin: 4px 0 0 0;
}

.unit h2 {
    font-size: 18px;
    font-family: Arial, sans-serif;
    margin: 0 18px;
    background: url(./img/h2-dashed.png) left bottom repeat-x;
}

.unit  h2 span {
    border-bottom: solid 3px #eba073;
    display: inline-block;
    padding: 0 2px 2px 0;
    position: relative;
    top: -1px;
    color: #333;
}

.unit h1.title {
    height: 42px;
    background: url(./img/h2-2-bg.png);
    padding-left: 12px;
    line-height: 41px;
    margin-right: 1px;
    position: relative;
}

.unit h1.title span {
    display: block;
    height: 42px;
    padding: 0 12px;
    background: url(./img/h2-2-bg.png) right 0;
    color: #d5d5d5;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.unit h1.title span b {
    background-color: #505a63;
    display: inline-block;
    padding: 0 5px;
    line-height: normal;
    text-shadow: 2px 2px 0 #353d44;
    margin-top: 9px;
    vertical-align: top;
    font-weight: normal;
}

.unit h1.title b.control {
    position: absolute;
    right: 9px;
    top: 15px;
    width: 12px;
    height: 12px;
    background: url(./img/h2-2-bg.png) 0 -53px;
    cursor: pointer;
}

body .show h1.title b.control {
    background-position: 0 -76px;
}

#footer {
    padding: .5em 0;
}

#footer .content {
    width: 990px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #666;
}

/*Form*/

.text-field {
    background: url(./img/form-fields.png);
    padding-left: 5px;
    height: 27px;
}

.text-field .field-content {
    background: url(./img/form-fields.png) right 0;
    height: 27px;
}

.text-field input {
    border: none 0;
    background: transparent;
    height: 21px;
    margin: 2px 6px 0 0;
    font-family: arial, sans-serif;
    color: #666;
    font-size: 12px;
    line-height: 21px;
}

.text-field b.control {
    display: inline-block;
    background: url(./img/form-fields.png);
    margin: 4px 4px 0 3px;
}

.text-field b.control {
    width: 22px;
    height: 22px;
    cursor: pointer;
    vertical-align: top;
}

.text-field b.calendar {
    background-position: 0 -151px;

}

.text-field b.select {
    background-position: -27px -152px;
}

.text-field input,
.smt button {
    font-family: Arial, sans-serif;
    background-color: transparent;
    line-height: 20px;
    border: 0 none;
    outline: none;
    overflow: visible;
    padding: 0;
}

.smt button span {
    background: url(./img/form-fields.png) 0 -207px no-repeat;
    height: 43px;
    font-size: 14px;
    color: #5a2100;
    padding: 0 0 0 5px;
    cursor: pointer;
    overflow: visible;
    display: inline-block;
}

.smt button span b {
    text-shadow: 1px 1px 1px #f3b98d;
    display: block;
    line-height: 43px;
    padding: 0 18px 0 13px;
    height: 100%;
    background: url(./img/form-fields.png) right -207px no-repeat;
    white-space: nowrap;
    font-weight: normal;
}
