#container {
    width: 990px;
    margin: 0 auto;
}

#main-content {
    width: 716px;
}

#main-content table {
    width: 675px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #666;
}

#main-content td {
    border-collapse: collapse;
    padding: 10px 0;
    border-bottom: solid 1px #dfdfdf;
    border-top: solid 1px #fdfdfd;
}

#main-content h3 {
    padding-bottom: .5em;
}

#main-content tr:first-child td {
    border-top: none;
}

#main-content .scroll-container {
    background: url(./img/674x220.png);
    width: 674px;
    height: 200px;
    padding: 5px 0;
    overflow: hidden;
    font-size: 12px;
    line-height: 19px;
}

#main-content .scroll {
    width: 671px;
    height: 200px;
    word-break: break-all;
}

#main-content .scroll .scroll-content {
    width: 628px;
    margin-left: 12px;
    padding: 3px 0 0 0;
}