/*轨道*/
.ks-track, .ks-track-hover, .ks-track-active,
.ks-scrollbar,
    /*向上箭头*/
.ks-arrowup, .ks-arrowup-hover, .ks-arrowup-active,
    /*向下箭头*/
.ks-arrowdown, .ks-arrowdown-hover, .ks-arrowdown-active,
    /*拖拽条*/
.ks-drag, .ks-drag-hover, .ks-drag-active,
.ks-dragtop, .ks-dragbottom, .ks-dragcenter {
    width: 18px;
}

.ks-scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.ks-track {
    position: absolute;
}

/*上下箭头 */
.ks-arrowup,
.ks-arrowdown,
.ks-arrowup a,
.ks-arrowdown a {
    display: block;
    text-indent: -1000px;
    width: 18px;
    height: 20px;
    overflow: hidden;
    right: 0;
    position: absolute;
}

.ks-arrowup a,
.ks-arrowdown a {
    border: none;
}

.ks-arrowup a {
    background: url(../img/scroll.png) 0 0;
}

.ks-arrowdown a {
    background: url(../img/scroll.png) 0 bottom;
}

.ks-arrowdown {
    bottom: 0;
}

/*拖拽条*/
.ks-drag {
    position: absolute;
    background: url(../img/scroll.png) -20px 0 repeat-y;
}

.ks-drag .ks-dragtop {
    background: url(../img/scroll.png) 0 -21px;
    display: block;
    height: 4px;

}

.ks-drag .ks-dragbottom {
    background: url(../img/scroll.png) 0 -26px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 4444;
}

.ks-drag .ks-dragcenter {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    height: 10px;
    background: url(../img/scroll.png) -45px -20px no-repeat;
}



